@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --bg: oklch(98.463% 0.00181 249.248);
  --fg: oklch(21.009% 0.03179 264.678);
  --accent: oklch(92.758% 0.00592 264.656);
  --muted: oklch(55.102% 0.02343 264.389);

  --bg-primary: oklch(91% 0.08 190);
  --fg-primary: oklch(35% 0.15 190);
  --accent-primary: oklch(75% 0.18 190);
  --muted-primary: oklch(65% 0.12 190);

  /* Dark Mode */
  --bg-dark: oklch(22.128% 0.01927 262.11);
  --fg-dark: oklch(96.696% 0.00298 264.792);
  --accent-dark: oklch(23.027% 0.0125 264.315);
  --muted-dark: oklch(71.366% 0.01926 261.373);

  --bg-primary-dark: oklch(18% 0.04 190);
  --fg-primary-dark: oklch(85% 0.16 190);
  --accent-primary-dark: oklch(70% 0.20 190);
  --muted-primary-dark: oklch(55% 0.14 190);

  /* Typography */
  --font-body: "Geist", sans-serif;
}

@theme {
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  
  --color-bg-primary: var(--bg-primary);
  --color-fg-primary: var(--fg-primary);
  --color-accent-primary: var(--accent-primary);
  --color-muted-primary: var(--muted-primary);

  --font-body: var(--font-body);
}

@custom-variant dark (&:is(.dark *));

.dark {
  --color-bg: var(--bg-dark);
  --color-fg: var(--fg-dark);
  --color-accent: var(--accent-dark);
  --color-muted: var(--muted-dark);

  --color-bg-primary: var(--bg-primary-dark);
  --color-fg-primary: var(--fg-primary-dark);
  --color-accent-primary: var(--accent-primary-dark);
  --color-muted-primary: var(--muted-primary-dark);
}